*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(#007bb2,#0d1423);
}
.card{
    position: relative;
    width: 400px;
    height: 600px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0,0, 0,0.25);
}
.card .poster{
    position: relative;
    overflow: hidden;
}
.card .poster::before{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient( 0deg, #1064a6 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}
.card :hover .poster ::before{
    bottom: 0px;
}

.card .poster img{
    width: 100%;
    transition: 0.5s;
}
.card:hover .poster img{
    transform: translateY(-50px);
    filter: blur(5px);
}
.card .details{
    position: absolute;
    bottom: -380px;
    left: 5px;
    padding: 30px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}
.card:hover .details{
    bottom: 0px;
}
.card .details .logo{
    max-width: 180px;
}
.card .details h3{
    font-size: 0.8em;
    color: #fff;
}
.card .details .tags{
    position: relative;
    margin-top: 5px;
}
.card .details .tags span{
    padding: 2px 5px;
    color: #fff;
    background: #03a8f5;
    border-radius: 4px;
}
.card .details .tags span:nth-child(2)
{
    background: #023047;
}
.card .details .tags span:nth-child(3)
{
    background: #ff5722;
}
.card .details .info{
    color:#fff;
    margin-top: 20px;
}
.card .details .cast{
    position: relative;
    margin-top: 20px;
}
.card .details .cast h5{
    color: #fff;
}
.card .details .cast ul{
    position: relative;
    display: flex;
    margin-top: 10px;
}
.card .details .cast ul li{
    list-style: none;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
}
.card .details .cast ul li img{
    max-width: 100%;
}
.card .details .production{
    position: relative;
    margin-top: 20px;
}
.card .details .production h6{
    color: #fff;
    font-size: large;
}
.card .details .production img{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
    width: 60px;
}
.card .details .tickets h7{
    color: rgb(114, 12, 12);
    background-image: url(images/background\ image.jpg);
    border-radius: 10%;
}
